@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
body {
  font-family: "Montserrat", sans-serif;
}
